/* #Links
================================================== */

a{
	transition: color 0.2s ease;
  	color: $primary_link;
  	&:visited{
  	color: $primary_link;
  	}
  	&:hover, &:focus, &:active{
  	color: $primary_text;
  	outline: 0;
  	}
}

a img{
	display: block;
	border: none;
}


/* #Buttons
================================================== */

p.button-container{
	margin-top: 3.6rem;
}

.button, .button:visited{
	height: 44px;
    padding: 1rem 2.4rem 1.2rem;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    font-family: $sans_font;
    font-weight: bold;
	background: $primary_button;
    border: none;
    color: #fff;
    transition: background-color 0.2s ease;
    -webkit-appearance: none;
    &:hover{
    	cursor: pointer;
    }
    &:hover, &:focus, &:active{
    	color: #fff;
    	text-decoration: none;
		background: $moda_red;
    }
}

.button i{
	font-size: 14px;
	margin-left: 8px;
	position: relative;
	top: 0px;
}

.button.secondary-button,
.featured-page-widget .button, 
.button.secondary-button:visited,
.featured-page-widget .button:visited{
    background: $moda_red;
    &:hover{
    	cursor: pointer;
    }
    &:hover, &:focus, &:active{
		background: darken($moda_red, 10%);
    	color: #fff;
    	text-decoration: none;
    }
}

button.tertiary-button,
a.tertiary-button.button, 
a.tertiary-button.button:visited{
    padding: 1.2rem;
    background: #fff;
    font-weight: normal;
    color: $primary_link;
    &:hover{
    	cursor: pointer;
    }
    &:hover, &:focus, &:active{
		background: $moda_red;
    	color: #fff;
    	text-decoration: none;
    }
}

a.tertiary-button.pointer-button{
	padding: 1.6rem 2.1rem;
}

a.pointer-button i{
	margin-left: 8px;
	font-size: 16px;
}
