$primary_background: #fff;

$light_bg: #f1f5f6;

$primary_text: #000;

$meta_text: #9B9B9B;

$primary_link: #cc0033;

$primary_button: #6E6E6E;

$moda_red: #cc0033;

$border_color: #ddd;

$regular_font: "Dax W01 Regular", 'Helvetica Neue', Helvetica, Arial, sans-serif;

$sans_font: "Dax W01 Medium", 'Helvetica Neue', Helvetica, Arial, sans-serif;

$bold_font: "Dax W01 Bold", 'Helvetica Neue', Helvetica, Arial, sans-serif;

$box_shadow: 0 5px 8px -3px rgba(89,85,77,.5);
